$borderColor: rgba(0, 0, 0, 0.12);

.zeus-table {
    width: 100%;
    height: 100%;

    .mdl-button {
        background: 0 0;
        border: none;
        border-radius: 2px;
        color: #3f51b5;
        position: relative;
        height: 36px;
        margin: 0;
        min-width: 64px;
        padding: 0 16px;
        display: inline-block;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0;
        overflow: hidden;
        will-change: box-shadow;
        transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
        outline: none;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        line-height: 36px;
        vertical-align: middle;

        &.raised {
            background: rgba(158,158,158,.2);
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

            &:active {
                box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
                background-color: rgba(158,158,158,.4);
            }
        }

        &.colored {
            color: #FFF;
            background: #3f51b5;

            &:hover {
                background-color: #3f51b5;
            }
        }

        &:hover {
            background-color: rgba(158,158,158,.2);
        }

        &:active {
            background-color: rgba(158,158,158,.4);
        }

        &[disabled] {
            background-color: rgba(0,0,0,.12);
            color: rgba(0,0,0,.26);
            box-shadow: none;
            cursor: default;

            &:hover {
                background-color: rgba(0,0,0,.12);
            }
        }
    }

    table {
        width: 100%;
        height: 100%;
        position: relative;
        border: 1px solid $borderColor;
        border-collapse: collapse;
        white-space: nowrap;
        font-size: 13px;
        background-color: #FFF;

        thead {
            padding-bottom: 3px;
            .flex-head {
                display: flex;
            }
        }

        th {
            position: relative;
            vertical-align: bottom;
            text-overflow: ellipsis;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0;
            height: 48px;
            font-size: 12px;
            color: rgba(0, 0, 0, .54);
            padding-bottom: 8px;
            box-sizing: border-box;
            padding: 0 18px 12px 18px;

            
        }
        
        tbody tr {
            position: relative;
            height: 48px;
            transition-duration: .28s;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            transition-property: background-color;

            &:hover {
                background-color: #EEE;
            }
        }

        td {
            vertical-align: middle;
            position: relative;
            height: 48px;
            border-top: 1px solid $borderColor;
            border-bottom: 1px solid $borderColor;
            padding: 12px 18px;
            box-sizing: border-box;
        }
    }
    
    .unselectable {
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .icon-btn {
        color: #DDD;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: #888;
        }
    }

    .checkbox-outline {
        &:hover {
            color: #0c0;
            transform: scale(1.1);
        }
    }
    
    .checked-box {
        color: #0c0;

        &:hover {
            color: #0c0;
            transform: scale(1.1);
        }
    }

    .filter-box {
        opacity: 0;

        z-index: 1;
        position: absolute;
        min-width: 150px;
        border: 1px solid #ccc;
        background-color: #FFF;
        border-radius: 4px;

        box-shadow: 0 0 5px #888;

        .primary-content {
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            -webkit-flex-grow: 2;
            -ms-flex-positive: 2;
            flex-grow: 2;
            text-decoration: none;
            box-sizing: border-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }

        ul {
            font-size: 13px;
            display: block;
            padding: 8px 0 0 0;
            list-style: none;

            .filter-list-item {
                box-sizing: border-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                font-family: "Roboto","Helvetica","Arial",sans-serif;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: .04em;
                line-height: 1;
                min-height: 48px;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: nowrap;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                padding: 16px;
                cursor: default;
                color: rgba(0,0,0,.87);
                overflow: hidden;

                transition: background-color .2s;
                cursor: pointer;

                &:hover {
                    background-color: #eee;
                }
            }
        }

        .action-box {
            display: flex;

            .action-box-item {
                flex: 1;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                border-top: 1px solid #ccc;
                &:first-child {
                    border-right: 1px solid #ccc;
                }

                &[disabled] {
                    color: #ccc;
                    background-color: #FFF;
                    cursor: initial;

                    &:hover {
                        background-color: #FFF
                    }
                }
            }
        }
    }
}