.w-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}


.el-message__group p {
  font-size: 14px;
  margin: 0 34px 0 0;
}

.el-message__closeBtn {
  top: 3px;
  right: 0;
  position: absolute;
  cursor: pointer;
  color: #bfcbd9;
  font-size: 14px
}

.el-message__closeBtn:hover {
  color: #97a8be
}

.el-message__img {
  top: 6px;
  left: 6px;
}

.el-message {
  min-width: 100px;
}





