.u-title{
  display: inline-block;
  margin:12px auto;
  padding:0 8px;
  font-weight: 700;
  font-size: 16px;
  border-left: solid 4px rgb(127,87,194);
}

hr {
  margin: 0;
  height: 1px;
  border: none;
  background-color:#eee;
  width: 100%;
}


.second-tabs{
  background-color: #ffffff;
  border-top:solid #EEEEEE 1px;
  border-bottom:solid #EEEEEE 1px;
  .tabItem{
    color: #888888;
  }
}

.second-tab-line{
  background-color: rgb(126,87,194);
}






