.w-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}


.w-list{
  width: 100%;
  overflow: hidden;
  margin: 0 50px;
  padding: 10px;
  p {
    color: #999999;
    min-height: 21px;
  }
  &-item {
    display: flex;
    &-label {
      font-weight: 500;
      font-size: 15px;
      flex: 0 0 90px;
      position: relative;
      margin-top: 16px;
    }
  }
}


.w-list-pagination {
  margin: 30px 20px;
  display: flex;
  justify-content: center;
  .el-pager li.active {
    border-color: #93b9ff;
    background-color: white;
    color: #93b9ff;
    cursor: default;
  }
  span {
    margin: 0 15px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
  }
  input {
    margin: 0 10px;
  }
  button, li, input {
    height: 35px;
    width: 42px;
    line-height: 35px;
    text-align: center;
  }
}


.el-message__group p {
  font-size: 14px;
  margin: 0 34px 0 0;
}

.el-message__closeBtn {
  top: 3px;
  right: 0;
  position: absolute;
  cursor: pointer;
  color: #bfcbd9;
  font-size: 14px
}

.el-message__closeBtn:hover {
  color: #97a8be
}

.el-message__img {
  top: 6px;
  left: 6px;
}

.el-message {
  min-width: 100px;
}





